
.root{
	-fx-base:  #aed6f1 ;
	-fx-background: #eaf2f8;
}

.text-field, .text-area, .list-view, .table-view  {
	-fx-base: white;
	-fx-border-color: #85c1e9;
    
}

.column-header {
	-fx-base:  #aed6f1 ;
}

.combo-box {
	-fx-base: white;
}

.titre-vue {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #1f618d;
}


.message-accueil {
    -fx-background-color:  #aed6f1 ;
    -fx-padding: 10;
    -fx-border-color: #85c1e9	; 
    -fx-border-width: 1;
    -fx-font-size: 16;
}


.validation-ok {
}

.validation-error {
	-fx-border-color: RED ;
    -fx-border-width: 1 ; 
    -fx-border-radius: 2px;
}


.tooltip {
    -fx-background-radius: 2 2 2 2;
    -fx-background-color: #ffffca;
    -fx-font-size: 1em;
    -fx-text-fill: BLACK;
}

.tooltip-error {
    -fx-background-radius: 2 2 2 2;
    -fx-background-color: #ffdddd;
    -fx-font-size: 1em;
    -fx-text-fill: Maroon;
}
